*,
*:focus,
*:active {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	box-sizing: border-box;
	outline: none;
}

@font-face {
	font-family: "RFDewiExpanded";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(../fonts/RFDewiExpanded-Regular.woff2) format("woff2");
	src: url(../fonts/RFDewiExpanded-Regular.woff) format("woff");
}

$color_black: #1f1f1f;

html,
body {
	height: 100%;
}

body,
form,
table {
	font: normal normal 14px/18px "RFDewiExpanded", Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 140%;
	color: $color_black;
	margin: 0;
	padding: 0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "RFDewiExpanded", sans-serif;
	color: #fbfbfb;
	margin: 0;
}

h1 {
	font-size: 53px;
	line-height: 78px;
	font-weight: 400;
	letter-spacing: -0.02em;
	max-width: 500px;
	// padding-top: 29%;
	margin-top: -66px;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: $color_black;
	outline: none;

	&:hover {
		text-decoration: none;
		color: $color_black;
	}
}


.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 24px 30px;
	font-family: "RFDewiExpanded", sans-serif;
	font-size: 17px;
	line-height: 110%;
	font-weight: 400;
	letter-spacing: -0.02em;
	color: #fdfdfd;
	margin: 0;
	cursor: pointer;
	border: none;
	transition: all 0.3s ease;
	background-color: #73d3fc;
	border-radius: 5px;
	text-transform: inherit;
	position: relative;

	&.disabled {
		opacity: 0.16;
		pointer-events: none;
	}

	&:hover {
		box-shadow: 0 0 20px #73d3fc;
	}

}

.page_wrapper {
	display: flex;
	min-height: 100%;
}

.page_left_bg {
	background: #f1f1f1;
	width: 50%;
	position: relative;
	z-index: 2;
}

.page_right_bg {
	background: #75d5fe;
	width: 50%;
	position: relative;
	z-index: 1;
}

.page_left {
	height: 100%;
	background-color: #75d5fe;
	border-top-right-radius: 222px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 12.4% 8% 10% 12%;
	position: relative;

	.footer_list {
		position: relative;
		z-index: 1;

		li {
			color: #fbfbfb;

			&:not(:last-of-type) {
				margin-right: 63px;
			}

			a {
				color: #fbfbfb;
			}
		}
	}

	h1 {
		position: relative;
		z-index: 1;
	}
}

.logo {
	max-width: 338px;
	img {
		max-width: 100%;
		max-height: 100%;
		object-fit: contain;
	}
}

.page_right {
	height: 100%;
	background: #f1f1f1;
	border-bottom-left-radius: 100px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 12.7% 12.8% 10% 23.5%;
	position: relative;

	.logo {
		display: none;
	}

	.footer_list {
		justify-content: flex-end;

		li {
			color: #212121;
			opacity: 0.5;

			&:not(:last-of-type) {
				display: none;
			}

			a {
				color: #212121;
			}
		}
	}

	&>* {
		position: relative;
		z-index: 2;
	}
}

.page_right_header {
	display: none;
}

.page_left_img {
	position: absolute;
	bottom: 72px;
	right: -131px;

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.page_right_img {
	position: absolute;
	bottom: 149px;
	left: 0;
	z-index: 1;

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.footer_list {
	display: flex;
	align-items: center;
	padding: 0;
	list-style: none;
	margin: 0;

	li {
		font-size: 13px;
		line-height: 110%;
		font-weight: 400;
	}
}

.page_right_top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header_menu {
	margin-left: 61px;
	display: flex;
	align-items: center;

	img {
		margin-right: 23px;
		flex: 0 0 auto;
	}

	span {
		font-size: 12px;
		line-height: 110%;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 0.36em;
		color: #1d1d1d;
	}

}

.header_phone {
	font-size: 14px;
	line-height: 110%;
	font-weight: 400;
	// letter-spacing: -0.02em;
	color: #1d1d1d;
	display: flex;
	align-items: center;

	img {
		margin-right: 18px;
		flex: 0 0 auto;
	}
}

.form {
	max-width: 536px;
	min-height: 607px;
	border-radius: 0px 75px;
	padding: 60px 62px 51px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	position: relative;

	.btn {
		width: 100%;
	}

	margin-top: -9px;

	&>* {
		position: relative;
		z-index: 5;
	}

	// &:before {
	// 	content: '';
	// 	display: block;
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	bottom: 0;
	// 	right: 0;
	// 	width: 100%;
	// 	height: 100%;
	// 	// background-color: #fbfbfb;
	// 	backdrop-filter: blur(10px);
	// 	z-index: 2;
	// 	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.24), inset 0 -1px 0 rgba(255, 255, 255, 0.24), inset 1px 0 0 rgba(255, 255, 255, 0.24), inset -1px 0 0 rgba(255, 255, 255, 0.24), inset 0 0 23px 1px rgba(244, 252, 255, 0.43);
	// }
	// &:after{
	// 	content: '';
	// 	display: block;
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	right: 0;
	// 	width: 100%;
	// 	height: 300px;
	// 	background: linear-gradient(180.44deg,rgba(251, 251, 251, 0.58) .38%,rgba(251, 251, 251, 0.85) 38.66%,rgba(251,251,251,.032) 99.62%);
	// 	z-index: 1;
	// }

}

.form_wrapper {
	max-width: 536px;
	position: relative;
	margin: 50px 0;

	// &:after{
	// 	content: '';
	// 	display: block;
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	width: 100%;
	// 	height: 100%;
	// 	background-repeat: no-repeat;
	// 	background-position: center;
	// 	background-image: url(/templates/assets/imgs/img_2.png);
	// }
	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 99%;
		width: 50px;
		height: 400px;
		background: #f1f1f1;
	}
}

.form_wrapper_img {
	position: absolute;
	top: 10px;
	right: 15px;
}

.form_img {
	display: flex;
	justify-content: flex-end;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 3;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.form_title {
	font-size: 28px;
	line-height: 120%;
	font-weight: 400;
	letter-spacing: -0.02em;
	color: #1f1f1f;
	margin-bottom: 42px;
}

.form_label {
	margin: 0;
	padding: 0;
	display: block;
	margin-bottom: 33px;
	text-align: left;
	width: 100%;
}

.form_label_name {
	font-size: 13px;
	line-height: 110%;
	font-weight: 400;
	letter-spacing: -0.02em;
	color: #5d5d5d;
	margin-bottom: 20px;
	display: block;
}

.form_label_input {
	height: 72px;
	background-color: #fdfdfd;
	border: 1px solid #ffffff;
	box-shadow: 0px 5px 10px -1px rgba(15, 19, 24, 0.05);
	border-radius: 5px;
	display: flex;
	align-items: center;
	padding: 20px 25px;

	input {
		width: 100%;
		height: 100%;
		border: none;
		background-color: transparent;
		letter-spacing: -0.02em;
		color: #5d5d5d;
		font-size: 16px;
		line-height: 110%;
		margin-left: 21px;

		&:-moz-placeholder {
			color: #5d5d5d;
			font-size: 16px;
		}

		&::-moz-placeholder {
			color: #5d5d5d;
			font-size: 16px;
		}

		&:-ms-input-placeholder {
			color: #5d5d5d;
			font-size: 16px;
		}

		&::-ms-input-placeholder {
			color: #5d5d5d;
			font-size: 16px;
		}

		&::placeholder {
			color: #5d5d5d;
			font-size: 16px;
		}
	}
}

.form_link {
	font-size: 15px;
	line-height: 110%;
	font-weight: 400;
	letter-spacing: -0.02em;
	color: #f7f7f7;
	text-align: center;
	margin-top: 36px;
}

@media screen and (max-width:1700px) {
	.page_left_img {
		right: -160px;
		width: 750px;
	}
}

@media screen and (max-width:1600px) {
	.page_left_img {
		bottom: 84px;
		width: 682px;
	}

	.form_wrapper_img {
		width: 747px;
		right: 0;

		img {
			width: 100%;
		}
	}

	.page_right {
		padding-left: 70px;
		padding-right: 70px;
	}

	.page_left {
		padding-left: 70px;
		padding-right: 70px;
	}

	.form_wrapper {
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
}

// @media screen and (max-width:1500px) {
// 	.form_wrapper_img{
// 		right: -26px;
// 	}
// }
@media screen and (max-width:1400px) {
	.page_right {
		padding-left: 50px;
		padding-right: 50px;
	}

	.page_left {
		padding-left: 50px;
		padding-right: 50px;
	}

	.page_left_img {
		right: -111px;
		bottom: 110px;
		width: 595px;
	}

	.form_wrapper_img {
		right: 5px;
	}
}

@media screen and (max-width:1300px) {
	.page_left {
		justify-content: inherit;
	}

	h1 {
		margin-top: 80px;
	}

	.page_left_img {
		right: initial;
		position: relative;
		bottom: initial;
		margin-top: -80px;
		margin-bottom: 30px;
	}

	.form_wrapper_img {
		right: -7px;
	}

	.page_left .logo {
		margin-bottom: auto;
	}

	.page_left .footer_list {
		margin-top: auto;
	}
}

@media screen and (max-width:1200px) {
	.page_left_bg {
		width: 45%;
	}

	.page_right_bg {
		width: 55%;
	}

	.page_left {
		border-top-right-radius: 100px;
	}

	.form_wrapper {
		max-width: 490px;
	}

	h1 {
		font-size: 48px;
		line-height: 64px;
	}

	.form_wrapper_img {
		right: -12px;
	}

	.page_left_img {
		width: 515px;
	}

	.page_left .footer_list li:not(:last-of-type) {
		margin-right: 19px;
	}
}

@media screen and (max-width:1100px) {
	h1 {
		font-size: 38px;
		line-height: 55px;
		margin-bottom: 0;
		max-width: 380px;
	}
	.form_title {
		font-size: 25px;}
	.page_left {
		padding-right: 30px;
	}

	.page_left .logo {
		width: 80%;
	}

	.form_wrapper {
		max-width: 450px;
	}

	.page_left_bg {
		width: 43%;
	}

	.page_right_bg {
		width: 57%;
	}

	.page_left_img {
		width: 445px;
	}

	.form_wrapper_img {
		right: -39px;
	}
}

@media screen and (max-width:960px) {
	.page_left_bg {
		display: none;
	}

	.page_right_header {
		display: block;
		background: #75d5fe;
		padding: 40px 50px;
		margin-left: -50px;
		margin-right: -50px;
		margin-bottom: 30px;
	}

	.header_menu {
		margin-left: 0;
	}

	.page_right {
		padding-top: 0;
		padding-bottom: 60px;

		.logo {
			display: block;
			max-width: 300px;
		}

		.footer_list {
			justify-content: space-between;

			li {
				display: block !important;

				&:not(:last-of-type) {
					margin-right: 30px;
				}
			}
		}
	}

	.page_right_bg {
		background-color: #f1f1f1;
		width: 100%;
	}

	.form_wrapper {
		margin-bottom: 115px;
	}
}

@media screen and (max-width:680px) {
	.page_right_header {
		padding: 20px 30px 17px 30px;
		margin-left: -30px;
		margin-right: -30px;
	}

	.page_right_bg {
		overflow: hidden;
	}

	.page_right {
		padding-left: 30px;
		padding-right: 30px;
		padding-bottom: 30px;

		.logo {
			display: block;
			max-width: 221px;
		}

		.footer_list {
			flex-wrap: wrap;

			li {
				&:nth-child(1) {
					margin-right: 0;
					order: 1;
					width: 100%;
					text-align: center;
					margin-top: 30px;
				}

				&:not(:last-of-type) {}
			}
		}
	}
}

@media screen and (max-width:576px) {
	.form {
		padding: 25px;
		border-radius: 0 50px;
		padding: 39px 25px 40px;
		min-height: initial;
	}
	.page_right_top{
		margin-bottom: auto;
	}
	.page_right{
		justify-content: inherit;
		 .footer_list{
			margin-top: auto;
		}
	}
	.form_title {
		font-size: 26px;
	}

	.form_wrapper {
		margin-bottom: 50px;
	}

	.form_wrapper_img {
		display: none;
	}

	.page_right .footer_list li {
		width: 100%;
		margin-top: 20px;
		text-align: center;

		&:nth-child(1) {
			margin-top: 20px;
		}

		&:not(:last-of-type) {
			margin-right: 0;
		}
	}
}

@media screen and (max-width:440px) {
	.page_right {
		padding-left: 20px;
		padding-right: 20px;

		.footer_list li {
			font-size: 14px;
			margin-top: 10px;
		}
	}

	.page_right_header {
		padding-left: 20px;
		padding-right: 20px;
		margin-left: -20px;
		margin-right: -20px;
	}

	.header_phone {
		font-size: 15px;
	}

	.header_phone img {
		width: 14px;
		margin-right: 9px;
	}

	.header_menu {
		span {
			font-size: 13px;
		}

		img {
			width: 14px;
			margin-right: 9px;
		}
	}

	.form_wrapper {
		margin-bottom: 40px;
	}

	.form_title {
		font-size: 23px;
		margin-bottom: 25px;
	}

	.form {
		border-radius: 0 42px;
		padding: 33px 22px 28px;
	}

	.form_label_name {
		margin-bottom: 10px;
		font-size: 14px;
	}

	.form_label_input {
		height: 58px;
		padding: 14px 17px;
	}

	.form_label_input input {
		margin-left: 12px;
	}

	.form_label {
		margin-bottom: 23px;
	}

	.btn {
		padding: 18px 23px;
		font-size: 18px;
	}

	.form_link {
		font-size: 16px;
		margin-top: 20px;
	}
}